@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "catppuccin-mocha";
  default: true;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: oklch(18.28% 0.0204 284.2); /* Surface base */
  --color-base-200: oklch(21.55% 0.0254 284.06); /* Slightly lifted */
  --color-base-300: oklch(24.29% 0.0304 283.91); /* Hover layers */
  --color-base-content: oklch(92% 0.01 270); /* High contrast text */

  --color-primary: oklch(78.71% 0.1187 304.77); /* Mauve */
  --color-primary-content: oklch(16.678% 0.024 66.558);

  --color-secondary: oklch(87% 0.0752 336.3); /* Pink */
  --color-secondary-content: oklch(16.678% 0.024 66.558);

  --color-accent: oklch(82.37% 0.1015 52.63); /* Peach */
  --color-accent-content: oklch(16.678% 0.024 66.558);

  --color-neutral: oklch(40.37% 0.032 280.15); /* Muted overlay */
  --color-neutral-content: oklch(92% 0.01 270);

  --color-info: oklch(76.64% 0.1113 259.88); /* Blue */
  --color-info-content: oklch(16.678% 0.024 66.558);

  --color-success: oklch(85.77 0.1092 142.72); /* Green */
  --color-success-content: oklch(16.678% 0.024 66.558);

  --color-warning: oklch(91.93% 0.0704 86.53); /* Yellow */
  --color-warning-content: oklch(16.678% 0.024 66.558);

  --color-error: oklch(75.56% 0.1297 2.76); /* Red */
  --color-error-content: oklch(16.678% 0.024 66.558);

  --radius-selector: 0.75rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;
  --depth: 1;
  --noise: 0;
}


@theme {
  --font-sans:
    Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
